body{
	background-color: BLACK;
}

#h1{
	color: WHITE;
	display: block;
	text-align: CENTER;
	font: COURIER;
	font-size: 12px;
	font-style: italic;
	text-decoration: underline;
}

#myPara{
	color: WHITE;
	display: block;
	text-align: LEFT;
	font: COURIER;
	font-size: 72px;
	font-weight: bold;
	font-style: italic;
}

#myLink{
	display: block;
	text-align: CENTER;
	font-size: 144px;
}

#myImage{
}

