body{
	background-color: BLUE;
}

#h1{
	color: RED;
	text-align: CENTER;
	text-decoration: underline;
}

#p1{
	text-align: RIGHT;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

#image1{
}

